* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-clip: padding-box;
    margin: 0;
    outline: 0;
    padding: 0;
    word-break: break-word;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
    position: relative;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif; /* Default font family */
    color: rgba(255, 255, 255, 0.85); /* Default text color */
    letter-spacing: normal; /* Default letter spacing */
    font-size: 16px; /* Default font size */
    font-weight: normal; /* Default font-weight */
    background: #090C0D; /* Default background */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#root {
    position: relative;
    height: calc(100vh + 0.01px);
    overflow: hidden;
}

#root:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(183, 59, 38, 0.11) 20.95%, rgba(183, 39, 38, 0) 93.56%);
    pointer-events: none;
}

img {
    max-width: 100%;
    user-select: none;
}

ol, ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}